h1{
    font-size: x-large;
    color:purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration:underline;

}
h2{
    font-size: larger;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-style: oblique;color: turquoise;
}
h3{
    font-size: larger;
    font-style: oblique;
    color:darkorange;
}
p{
    font-size: medium;
    background-color:lightyellow;
}
li{
    font-size: larger;
    color: blueviolet;
}
.images{
display:block;
padding-right: 10px;

}
.div{

column-count: 3;
column-gap: 40px;
column-rule-style:solid ;
column-rule-style: rule width 1px; 
column-rule-color:palevioletred ;
column-rule: 1 px solid palevioletred;
column-width: 100px;
column-span: all;

}

p3{
color: azure;
}   