 /*The dropdown container*/
 .dropdown{
    float:left;
    overflow:hidden;
  }  
  /*Dropdown button*/
  .dropdown .dropbtn{
    font-size:16px;
    border:none;
    outline:none;
    color:rgb(22, 237, 104);
    padding:14px 16px;
    background-color:inherit;
    font-family: inherit;
  }
  .dropdown:hover ,dropbtn{
    background-color: rgb(230, 36, 244);
  }
  /*Dropdown content */
  .dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    z-index:1;
  
  }
  /*links inside the dropdown*/
  .dropdown-content a{
    float:none;
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
  }
    /*grey backgrung color to fropdown links on hover*/
    .dropdown-content a:hover{
        background-color: #ddd;
    }
  /*showing the dropdown menu*/
  .dropdown:hover .dropdown-content{
    display:block;
  }