.footer{
    background-color: #008080;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font:size 0.6em;
    position:relative; 
    height:auto;
}

@media (max-width:600px){
    .footer-container{


        display:flex;
        max-width:1200px;
        margin:0 auto;
        padding:5px;
        
        justify-content: space-between;/*Distribite space evenly between columns*/
        flex-wrap: wrap;/*Help handle smaller screens*/
    
    }
}




    .footer-social-icons{
        text-align:center;
        margin-top:10px;
    }

    .footer-social-icons p1{
        color: rgb(193, 115, 42);
        font-size:large;
    }
    .footer-social-icons .social-icon{

        color:#fff;
        margin: 0 5px;
        text-decoration: none;
        font-size:1.2em;
    }
    .footer-social-icon .social-icon:hover{
color:#ffd700;
    }
    .footer-copyright p{


        font-size: medium;
        text-align:center;
        padding-top:10px;
        margin-top:10px;
       background-color:#008080; 
        width:100%;
        color: rgb(20, 23, 24);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }


        
       
       