.footer{
    background-color: #008080;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: size 0.7em;
    position:relative; 

}
.footer-container{


    display:flex;
    max-width:1200px;
    margin:0 auto;
    padding:20px;
    justify-content: space-between;/*Distribite space evenly beterrn columns*/
    flex-wrap: wrap;/*Help handle smaller screens*/

}
.footer-column{/*margin between columns*/
    flex:1;
    margin:0 10px;
    
}
.footer-column.get-in-touch{
    border-right:2px solid #fff;
    padding-right:10px;
}
.footer-column.company{
    border-right:2px solid #fff;
    padding-right:10px;/*To avoid touching the border*/
}
.footer-column.quicklinks{
    padding-left:10px;
}
.footer-column h4{/*space below heading and font size*/
    margin-bottom: 15px;
    font-size:1.2em;
}
.footer-column p, .footer-column a{
 margin: 5px 0;
 color:#fff;
 text-decoration: none;
}


.footer-column a:hover{
    text-decoration: underline;
}

.footer-copyright{
    font-size: medium;
    text-align:center;
    padding-top:20px;
    margin-top:20px;
   
    width:100%;
    }