

/*Registration Form*/

.box-sizing{
  width:60%;
  margin:0 auto;
  padding:20px;
  padding-bottom:5x;
  border:2px solid rgb(102, 37, 112);
  border-radius:10px;
  background-color:aliceblue;
  box-sizing:border-box;
  
}
#registrationform{
display:flex;
flex-direction: column;
}
.label,input,select{
margin-top: 15px;
font-size:medium;
}
input[type="submit"]{
  width:20%;
  padding:5px;
  background-color:palevioletred;
  color: white;
  border:none;
  border-radius: 5px;
  cursor:pointer;
}
input[type="submit"]:hover{
  background-color: darkviolet;
}



