body{
    margin: 0;
}


 
.bgcolor{
    background-color: rgb(227, 214, 216);
}





.rounded{
    
    border-radius: 15px 20px;  
   
}


.Images_img{
    border-radius:50%;
      }
/*Styling the button that is used to open and close collapsible content*/
.collapsible{
    background-color:#290d23;;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width:50% ;
    border:none;
    text-align: left;
    outline:none;
    font-size: 15px;

 } 
 /*Adding background color to the button if it is clicked on add the .active class with Js and when you move the mouse over it hovers*/
    .active,.collapsible:hover{
background-color: #ccc;
    }

    /*Style the .collapsible content.*/
.content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:rgb(255, 240, 243);
}

  @media screen and (max-width:600px)  {
    .content{
        width:100%;
    }
    .topnav a {
        float:none;
        display:block;
        text-align:left;
        width:100%;
        margin:0;
        padding:14px;

      }
  }
     /*Index page css*/

     .index-h1{
            text-align:left;
            font-size: x-large;
            color:lightseagreen;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-transform: uppercase;text-decoration: wavy;

     }

     .index-h2{

        text-align:justify;
        font-family:'Segoe UI', Tahoma, Geneva,Verdana, sans-serif;
        line-height:25px;
        font-size:medium;
        font-style:italic;
        color:blueviolet;

     }

     .index-h3{
        font-size: medium;
        font-style: oblique;
        color: rgb(33, 33, 91);
     }
     .index{

        font-size: medium;
        font-style: oblique; 
    }

    .div{
        padding-bottom:5px;
    }
     /*ContactUs CSS*/
.header{
    padding: 20px;
    text-align: center;
    background-color: #373737;
    color: rgb(238, 238, 238);
}

.container{
    padding-bottom: 10px;
}
/*Course CSS*/
.Image{
    display: flex;
    size-adjust: 40px 20px;
}
.rounded-circle{
    border-radius: 10px;
}