.Course{
    border:solid 1px #373737;
    width: 100%;
    border-collapse: collapse;
    
    overflow: hidden;
  }
  /*Table styling*/
#courseCatalog{
  padding-left: 20px;
  padding-right:20px;
  background-color: rgba(255,255,255,0.8);
  background-position: 20px 20px 20px 20px;
  border-width: 50px;
  
  border-radius:20px;
  margin:20px auto;
  max-width:800px;
  
  
  }
  .Course td{
    border:solid 1px #373737;
     padding: 10px;
     text-align:left;
  }
  .Course th{
    background-color:rgba(126, 13, 109, 0.9);
    color: rgba(255, 255,255,90%);
    padding:5px;
    text-align:left; 
  }
  .Course tr:nth-child(odd){
  background-color:aliceblue;
  }
  .Course tr:nth-child(even){
    background-color:rgba(145, 223, 232, 0.797) ;
    }
    
  .Course tr:hover{
    background-color:#ddd;
    
  }
  .font{
    font-size: large;
    color: darkcyan;
  }
  .font2{
    font-size: large;
    color:black;
  }
  .bgColor{
    background-color:#f5f5f5;
  }