.team-container{
    display:flex;
    gap:20px;
    margin-bottom:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.team-member{
    background-color:#fff;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow:hidden;
    text-align:center;
    transition:transform 0.3s ease;
    padding:10px;
    color:#333;
    flex: 1 1 calc(25% - 20px);/*Ajusted to ensure four items per row*/
    max-width:250px;

}

.team-member:hover{
    transform:scale(1.05);
}

.team-member img{
    width:100%; /*Adjusted to ensure image fills the container*/ 
    border-radius:50%;
    margin-bottom:10px;
    height:auto;
}

.member-info{
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    padding:10px;
    position:relative;
    bottom:0;
    width:100%
}
.member-info h4{
    margin:0;
    font-size:1.2em;
    color:#fff;
}
.member-info p{
    margin: 5px 0 0;
    font-size:0.9em;
}




@media (max-width: 768px) {
    .team-member {
        flex: 1 1 calc(45% - 20px);/*Adjust for smaller screens*/
    }
}

@media (max-width: 480px) {
    .team-member {
        flex: 1 1 100%; /*Adjust for mobile screens*/
    }
}